.card-fondo {
  background: linear-gradient(180deg, #f2dc9b 0%, #bf843b 100%);
  border-radius: 6px;
  width: 250px;
  height: 280px;
  margin: 0px 15px 0px 15px;
}

.card-padre {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 40px;

}

.text-card {
  font-size: 25px;
}

.text-card-1 {
  padding-top: 15px;
  font-size: 30px;
}

.img-element {
  padding-top: 40px;
}

.img-element-e {
  padding-top: 80px;
}

.img-card {
  width: 70px;
  height: 70px;
}

.img-card-e {
  width: 70px;
  height: 50px;
}

@media (max-width: 1100px) {
  .card-fondo {
    width: 232px;
    height: 226px;
    margin: 0px 5px 0px 5px;
    transition: 0.5s;
  }

  .text-card {
    font-size: 10px;
    transition: 0.5s;
  }
  
  .text-card-1 {
    padding-top: 10px;
    font-size: 15px;
    transition: 0.5s;
  }

  .img-element {
    padding-top: 40px;
    transition: 0.5s;
}

.img-element-e {
  padding-top: 64px;
  transition: 0.5s;
}

.img-card {
  width: 60px;
  height: 60px;
  transition: 0.5s;
}

  
}

@media (max-width: 1117px) {
  .card-fondo {
    width: 232px;
    height: 226px;
    margin: 0px 5px 0px 5px;
    transition: 0.5s;
  }

  .text-card {
    font-size: 14px;
  }
  
  .text-card-1 {
    padding-top: 15px;
    font-size: 15px;
  }

  .img-element {
    padding-top: 40px;
}

.img-element-e {
  padding-top: 64px;
}

.img-card {
  width: 60px;
  height: 60px;
}

}

@media (max-width: 800px) {
  .card-fondo {
    width: 232px;
    height: 156px;
    margin: 0px 5px 0px 5px;
  }

  .text-card {
    font-size: 14px;
  }
  
  .text-card-1 {
    padding-top: 15px;
    font-size: 15px;
  }

  .img-element {
    padding-top: 20px;
}

.img-element-e {
  padding-top: 44px;
}

.img-card {
  width: 40px;
  height: 40px;
}

.img-card-e {
  width: 40px;
  height: 40px;
}

}

@media (max-width: 580px) {
  .card-fondo {
    width: 232px;
    height: 126px;
    margin: 0px 5px 0px 5px;
  }

  .text-card {
    font-size: 10px;
  }
  
  .text-card-1 {
    padding-top: 10px;
    font-size: 10px;
  }

  .img-element {
    padding-top: 15px;
}

.img-element-e {
  padding-top: 44px;
}

.img-card {
  width: 40px;
  height: 40px;
}

.img-card-e {
  width: 40px;
  height: 40px;
}

}


@media (max-width: 430px) {
  .card-padre {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
  }

  .card-fondo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 232px;
    height: 80px;
    margin: 0px 0px 25px 0px;
    
  }

  .text-card-1 {
    display: flex;
    font-size: 20px;
    padding-right: 40px;

  }
  .text-card {
    display: flex;
    font-size: 20px;
    padding-right: 40px;
  }
  
  .text-card-1 {
    padding-top: 10px;
    font-size: 20px;
  }

  .img-element {

    padding-top: 20px;
  
  }

  .img-element-e {

    padding-top: 20px;
  
  }

  .img-card-e {
    width: 40px;
    height: 30px;
  }

  .img-card {
    width: 40px;
    height: 40px;
  }

}

.contenedor-btn-payment {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.btn-cards {
  background: linear-gradient(180deg, #D9B573 0%, #F2E291 100%);
  border: none !important;
  border-radius: 5px;
  color: black;
  padding: 0px 36px 0px 36px;
  font-size: 20px;
  margin: 0px 10px 0px 10px;
}

.btn-special-payment {
  background: linear-gradient(180deg, #D9B573 0%, #F2E291 100%);
  border: none !important;
  border-radius: 5px;
  font-size: 30px;
  padding: 15px 60px 15px 60px;
  font-size: 20px;
  margin: 0px 10px 0px 10px;

}
